<div class="grid grid-cols-3 text-center mt-16">
    <div class="col-start-2">
        <div class="">
            <%= render 'form', post: @post %>
            <%= link_to 'Back', posts_path %>
        </div>
    </div>
</div>
